# Test Report
## UnitTests for login system across modules. 
![Screenshot from 2021-04-21 12-55-37](https://user-images.githubusercontent.com/47289942/115514434-b7156880-a2a1-11eb-8f12-ffe9867882c0.png)
## UnitTests for logout across modules. 
![Screenshot from 2021-04-21 12-55-57](https://user-images.githubusercontent.com/47289942/115514445-b977c280-a2a1-11eb-9bca-b41a6d7b1ce9.png)
## UnitTests for Invalid access across modules. 
![Screenshot from 2021-04-21 12-56-52](https://user-images.githubusercontent.com/47289942/115514461-bbda1c80-a2a1-11eb-9300-d27a01090f79.png)
## UnitTests for Faculty module. 
![Screenshot from 2021-04-21 12-58-21](https://user-images.githubusercontent.com/47289942/115514473-bda3e000-a2a1-11eb-81a7-f3c3c81b84d1.png)
## UnitTests for Admin module. 
![Screenshot from 2021-04-21 12-59-06](https://user-images.githubusercontent.com/47289942/115514482-c0063a00-a2a1-11eb-8abd-d894da0bae04.png)
## UnitTests for Student module. 
![Screenshot from 2021-04-21 12-59-46](https://user-images.githubusercontent.com/47289942/115514487-c1cffd80-a2a1-11eb-99f2-4a38ccfe6236.png)
## Overall Test Coverage. 
![Screenshot from 2021-04-21 13-02-25](https://user-images.githubusercontent.com/47289942/115514591-e0ce8f80-a2a1-11eb-8202-0bfe725f5a03.png)

### ***All tests are available in tests.py file***
