<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin | Upload</title>

  <!-- Bootstrap core CSS -->
  <link href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/simple-sidebar.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>

  <style type="text/css">
  /* avoid stupid IE6 bug with frames and scrollbars */
  #more{
    cursor: pointer;
  }
  .grid-x {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
  td {
      padding-top: .3em;
      padding-bottom: .3em;
  }

  #loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/images/ajax-loader.gif) no-repeat;
    cursor: wait;
    }
    #show-message{
      display: none;
    }
  </style>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello {{ admin.name }}</div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('admin.admin_dashboard') }}" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="{{ url_for('admin.logout') }}" class="list-group-item list-group-item-action bg-light">Log Out</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>

      <div class="container-fluid">
        <div class="grid-x">
        <h5 style="color:red;">Note: Uploading new data will erase the exisiting data.</h5>
        <hr>
            <form action="{{ url_for('.admin_upload') }}"  method=post enctype=multipart/form-data>
       <table class="stack hover sortable" id="courseTable">
           <thead>
               <tr>
                   <th>File Name</th>
                   <th>File</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>Faculty Credentials</td>
                   <td><input type=file name='faculty_credentials' required></td>
               </tr>
               <tr>
                   <td>Student Credentials</td>
                   <td><input type=file name='student_credentials' required></td>
               </tr>
               <tr>
                   <td>Courses</td>
                   <td><input type=file name='courses_data' required></td>
               </tr>
               <tr>
                   <td>Upload Section Data</td>
                   <td><input type=file name='upload_section_data' required></td>
               </tr>
           </tbody>
       </table>
       <center> <input class="btn btn-primary" type="submit" value="Upload" onclick="loading();"></center>
       </form>
   </div>
      </div>
      <center><div id="loading"></div></center>
      <center id="show-message"><b><p style="color:green;">Processing data, this might take a while... do not refresh the page</p></b></center>
      <center>
      {% with messages = get_flashed_messages() %}
               {% if messages %}
                      {% for message in messages %}
                          <b><p style="color:red;">{{ message }}</p></b>
                      {% endfor %}
                {% endif %}
      {% endwith %}
  </center>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script type="text/javascript">
        function loading(){
            $("#show-message").show();
            $("#loading").show();

        }
  </script>
</body>

</html>
