<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Faculty Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/simple-sidebar.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>

  <style type="text/css">
  /* avoid stupid IE6 bug with frames and scrollbars */
  #more{
    cursor: pointer;
  }
  .grid-x {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
  td {
      padding-top: .3em;
      padding-bottom: .3em;
  }
  </style>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello {{ admin.name }}</div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('faculty.logout') }}" class="list-group-item list-group-item-action bg-light">Log Out</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>

      <div class="container-fluid">

        <div class="grid-x">
       <table class="stack hover sortable" id="courseTable">
           <thead>
               <tr>
                   <th>Course ID</th>
                   <th>Course Name</th>
                   <th>Faculty</th>
                   <th>Feedback</th>
               </tr>
           </thead>
           <tbody>
           {% for course in upload_coures %}
               <tr>
                   <td >{{ course.course_id }}</td>
                   <td>{{ course_names.query.filter(course.course_id == course_names.id).first().name}}
                   <td>{{ faculty.query.filter(course.faculty_id == faculty.id).first().name}}</td>
                   <td><a href="{{ url_for('faculty.view_responses',id=course.id) }}">View Responses</a></td>
               </tr>
           {% endfor %}
           </tbody>
       </table>
   </div>
      </div>


    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
